# 忽略 venv
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/
# Python virtual environments
.venv/
__pycache__/
*.pyc

# OS / editor junk
.DS_Store
*.log

# WSL temp
*.swp

/mcp_basic_google_agent/mcp_agent.secrets.yaml
