services:
  - type: web
    name: job-guardian-mono
    runtime: python
    envVars:
      - key: PYTHON_VERSION
        value: '3.12.x'
    buildCommand: |
      pip install -r requirements.txt && \
      cd frontend && \
      npm install && \
      npm run build && \
      cd ..
    startCommand: python main.py